{% extends 'app.twig' %}

{% block content %}

    <header class="page-header">
        <h2>Visitantes</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li><span>Geral</span></li>                                
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
        <div class="row">
            <div class="col-md-12">
                <form id="form1" class="form-horizontal" action="/visitantes/novo" method="post">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                            </div>

                            <h2 class="panel-title">Cadastro</h2>
                            <p class="panel-subtitle">
                                
                            </p>
                        </header>
                        <div class="panel-body">
                            
                            {{ csrf_field() | raw }}

                            <div class="form-group">
                                <label class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <img src="/assets/images/avatar_resident.png"  class="img-thumbnail" style="width:150px;height:150px;" />
                                    <input type="hidden" name="img" />
                                    <button type="button" class="btn btn-secundary" onclick="openWebCamCapture();"> <i class="fa fa-camera"></i> Webcam</button>
                                    <button type="button" class="btn btn-secundary" onclick="openUpload();"> <i class="fa fa-photo"></i> Imagem</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nome: </label>
                                <div class="col-sm-8">
                                    <input type="text" name="name" class="form-control input-lg">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Documento: </label>
                                <div class="col-sm-8">
                                    <input type="text" name="document" class="form-control input-lg">
                                </div>
                            </div>

			    <div class="form-group">
				<label class="col-sm-4 control-label">Tipo: </label>
                                <div class="col-sm-8">
                                    <select name="service_provider" class="form-control input-lg">
					<option value="0"> Visitante </option>
					<option value="1"> Prestador de Serviço </option>
				    </select>
                                </div>
			    </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label"><h4>Veículos</h4></label>
                                <div class="col-sm-8">
                                    <div id="vehicle-list"></div>
                                </div>
                            </div>

                        </div>
                        <footer class="panel-footer">
                            <a href="/visitantes" class="btn btn-secundary"> <i class="fa fa-undo"></i> Cancelar</a>
                            <button type="submit" class="btn btn-primary"> <i class="fa fa-check"></i> Salvar </button>
                        </footer>
                    </section>
                </form>
            </div>            
        </div>
    <!-- end: page -->       


    <div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><b>Upload de Imagem</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

             <div class="grid" style="height:500px;">
                 <div class="col-12">
                     <div class="actions">
                           <input type="file" id="upload" name="foto" value="Choose a file" accept="image/*">
                           <input type="hidden" class="upload-croppie" name="upload-croppie" />
                     </div>
                 </div>
                 <hr />
                 <div class="col-12">
                     <div class="upload-msg">
                     </div>
                     <div class="upload-demo-wrap">
                         <div id="upload-demo"></div>
                     </div>
                 </div>
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" onclick="saveCoopieUpload();">Salvar</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="modalWebcam" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><b>Imagem da Webcam</b></h5>
            <button type="button" class="close" onclick="closeLayerWebcam();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
               <div id="webcam_preview"></div>
               <div id="webcam_capture_preview" style="display:none;"></div>
               <button class="btn btn-primary btn-capture" onclick="generateCapture();">Capturar</button>
               <button class="btn btn-default btn-webcam" onclick="redefineWebcam();" style="display:none;">Webcam</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closeLayerWebcam();" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" onclick="saveCoopieCapture();">Salvar</button>
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript">

     var webcam = false;

      function openWebCamCapture() {
        
        $("#modalWebcam").modal();
        $("#modalWebcam").show();
        $('.btn-webcam').hide();
        $('.btn-capture').show();
        $('.btn-crop').hide();

        $('#webcam_capture_preview').hide();
        $('#webcam_preview').show();    

        webcam = Webcam.set({
          width: 332,
          height: 256,
          image_format: 'jpeg',
          jpeg_quality: 90
        });
        Webcam.attach('#webcam_preview');
      }

      function generateCapture() {

          Webcam.snap( function(data_uri) {
            
            $('#webcam_capture_preview').show();
            $('#webcam_preview').hide();
            $('#webcam_capture_preview').html('<img src="'+data_uri+'" />');
            $('.btn-capture').hide();
            $('.btn-crop').show();
            $('.btn-webcam').show();

            $uploadCrop = $('#webcam_capture_preview img').croppie({
              viewport: {
                  width: 200,
                  height: 200,
                  type: 'square'
              },
              enableExif: true,
              enableResize: false,
              boundary: {
                  width: 300,
                  height: 300 
              }
            });

            Webcam.reset();

          });
      }

      function saveCoopieCapture() {

          $uploadCrop.croppie('result', {
            type: 'canvas',
            size: 'viewport'
          }).then(function (resp) {
            $('input[name="img"]').val(resp);
            $('.img-thumbnail').attr('src', resp);
            $("#modalWebcam").hide();
          });
          Webcam.reset();
      }

      function saveCoopieUpload() {

          $uploadCropUp.croppie('result', {
            type: 'canvas',
            size: 'viewport'
          }).then(function (resp) {
            $('input[name="img"]').val(resp);
            $('.img-thumbnail').attr('src', resp);
            $('.layer_fileupload').hide();       
            $("#modalUpload").hide(); 
          }); 

      }

      function redefineWebcam() {

            $('#webcam_capture_preview').hide();
            $('#webcam_preview').show();
            $('.btn-crop').hide();
            $('.btn-capture').show();
            $('.btn-webcam').hide();
      }

      function closeLayerWebcam() {
          $("#modalWebcam").hide();
          Webcam.reset();
      }


      var $uploadCropUp;

      function demoUpload() {
        
        function readFile(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $uploadCropUp.croppie('bind', {
                url: e.target.result
              }).then(function(){
                
              });
              
            }        
            reader.readAsDataURL(input.files[0]);
          }          
        }

        $uploadCropUp = $('#upload-demo').croppie({
          viewport: {
              width: 250,
              height: 250,
              type: 'square'
          },
          enableExif: true,
          enableResize: true,
          boundary: {
              width: 300,
              height: 300 
          }
        });

        $('#upload').on('change', function () { readFile(this); });

      }

      function openUpload() {
        $("#modalUpload").modal();
        $("#modalUpload").show();
      } 


      $(document).ready(function() {

         demoUpload();

      });
    

    </script>

{% endblock %}
